@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Common */

*{font-family: 'Noto Sans KR', sans-serif;}
body{overflow-x: hidden;}
h2{font-weight: 500;}
p{font-weight: 400;}
a{text-decoration: none; color: #000;}
input, textarea{font-weight: 300;}
::selection{background: #0464b3; color: #fff; text-shadow: none;}
.scrollAni{opacity: 0;}
.fade_in{animation: fadeIn 500ms linear forwards;}
@keyframes fadeIn{
    0%{opacity: 0; top: 20px;}
    100%{opacity: 1; top: 0px;}
}

/* Header */
header{ background: #0464b3; position: fixed; top: 0; left: 0; display: flex; width: 100%; justify-content: space-between; align-items: center; z-index: 999;transition: 800ms; height: 80px;}
header:hover > nav.slide_nav > span{opacity: 1;}
header > a.logo{margin: 0 0 0 100px;}
header > a.logo > img{ width: 270px; height: 25px; display: inline-block;}
header > nav.slide_nav {margin: 0 80px 0 0; height: 100%;}
header > nav.slide_nav > ul{ height: 100%;}
header > nav.slide_nav > ul > li{float: left; height: 100%;}
header > nav.slide_nav > ul > li > a{color: #fff;  outline: none;font-size: 16px; line-height: 80px; height: 100%; display: inline-block; padding: 0 20px;}
header > nav.slide_nav > span{display: inline-block; height: 4px; background-color: #61b8ff; position: absolute; bottom: 0; transition: 500ms; opacity: 0; width: 0px; pointer-events: none;}

header > nav.slide_nav > ul > li:hover > div{opacity: 1; pointer-events: all; display: flex;}
header > nav.slide_nav > ul > li > div a:hover{color: #0464b3; text-decoration: #0464b3 underline;}
header > nav.slide_nav > ul > li > div{position: absolute; left: 0; top:80px; padding: 40px 0; width: 100%; background-color: #e4e3e3; display: none; justify-content: center; opacity: 0; pointer-events: none; transition: 400ms;}
header > nav.slide_nav > ul > li > div > div.nav_title{ width:300px; margin: auto 100px auto 0;}
header > nav.slide_nav > ul > li > div > div.nav_title > h3{font-size: 30px; margin-bottom: 20px;}
header > nav.slide_nav > ul > li > div > div.nav_title > p{ font-size: 16px; line-height: 25px;}
header > nav.slide_nav > ul > li > div > ul{margin-left: 40px; }
header > nav.slide_nav > ul > li > div > ul > ul{float:left;}
header > nav.slide_nav > ul > li > div > ul > ul > li{margin: 20px 50px;}
header > nav.slide_nav > ul > li > div > ul > ul > li:first-child{margin: 0px 50px 20px;}
header > nav.slide_nav > ul > li > div > ul > ul > li > a{ font-weight: 400;}
header > nav.slide_nav > ul > li > div > ul > ul > li > a > strong{font-weight: 700; }

header > nav.slide_nav > ul > li > div.brands_wrap{}
header > nav.slide_nav > ul > li > div.brands_wrap > div.nav_title{margin: auto 100px auto 0px;}
header > nav.slide_nav > ul > li > div.brands_wrap > ul > ul{border-right: 1px solid #343434;}
header > nav.slide_nav > ul > li > div.brands_wrap > ul > ul.brands_title_list > li > a{color: #6f6f6f; cursor: default;}
header > nav.slide_nav > ul > li > div.brands_wrap > ul > ul.brands_title_list > li > a:hover{color: #000; text-decoration: none;}
header > nav.slide_nav > ul > li > div.brands_wrap > div.brands_list_wrap > ul > li{opacity: 0; display: none; pointer-events: none;position: absolute;}
header > nav.slide_nav > ul > li > div.brands_wrap > div.brands_list_wrap > ul > li.active_brands{opacity: 1; display: flex; pointer-events: all;}
header > nav.slide_nav > ul > li > div.brands_wrap > div.brands_list_wrap > ul > li > ul{margin: 0 0 0 50px;}
header > nav.slide_nav > ul > li > div.brands_wrap > div.brands_list_wrap > ul > li > ul > li{margin-bottom: 20px;}
header > nav.slide_nav > ul > li > div.brands_wrap > div.brands_list_wrap > ul > li > ul > li > a{}
header > nav.slide_nav > ul > li > div.brands_wrap > div.brands_list_wrap > ul > li > ul > li > a:hover{text-decoration: underline #0464b3; color: #0464b3;}


header > nav.side_nav{opacity: 0; display: none; pointer-events: none;  margin-right: 50px; }
header > nav.side_nav > div.nav_bar{width: 30px; height: 20px; position: relative; cursor: pointer;  z-index: 999;}
header > nav.side_nav > div.nav_bar > span{width: 100%; height: 2px; background: #fff; transition: 500ms; display: block; position: absolute; left: 0;}
header > nav.side_nav > div.nav_bar > span:nth-child(1){top: 0px;}
header > nav.side_nav > div.nav_bar > span:nth-child(2){top: 20px;}
header > nav.side_nav > div.active_nav > span{background: #000;}
header > nav.side_nav > div.active_nav > span:nth-child(1){transform: rotate(45deg); top: 8px;}
header > nav.side_nav > div.active_nav > span:nth-child(2){transform: rotate(-45deg); top: 8px;}

header > nav.side_nav > div.side_nav_list_wrap{position: absolute; opacity: 0; pointer-events: none; width: 300px; height: 100vh; background-color: #fff; top: 0; right: 0; z-index: 1; transition: 500ms;}
header > nav.side_nav > div.active_side_nav{opacity: 1; pointer-events: all;}
header > nav.side_nav > div.side_nav_list_wrap > ul{margin: 150px auto 0; width: 80%;}
header > nav.side_nav > div.side_nav_list_wrap > ul > li{border-bottom: 1px solid #c6c6c6; padding: 15px 0;width: 100%;}
header > nav.side_nav > div.side_nav_list_wrap > ul > li > a{position: relative; display: block;}
header > nav.side_nav > div.side_nav_list_wrap > ul > li > a::before{position: absolute; content: "\f105"; font-family: fontello; right: 0;}
header > nav.side_nav > div.side_nav_list_wrap > ul > li > a:last-child::before{content: "";}

header > nav.side_nav > div.side_nav_list_wrap > ul > li > div.side_nav_one{position: absolute; opacity: 0; pointer-events: none; width: 280px; height: 100vh;  background-color: #fff; top: 0; right: 0; z-index: 2; box-shadow: 0 0 20px 0 #666; transition: 500ms;}
header > nav.side_nav > div.side_nav_list_wrap > ul > li > div.active_side_nav{opacity: 1; pointer-events: all;}
header > nav.side_nav > div.side_nav_list_wrap > ul > li > div.side_nav_one > h3{margin:0 0 0 10%; height: 80px; display: flex; align-items: center;}
header > nav.side_nav > div.side_nav_list_wrap > ul > li > div.side_nav_one > h3 > a{}
header > nav.side_nav > div.side_nav_list_wrap > ul > li > div.side_nav_one > h3 > a > span{font-family: fontello; margin-right: 10px;}
header > nav.side_nav > div.side_nav_list_wrap > ul > li > div.side_nav_one > ul{margin: 150px auto 0; width: 80%;}
header > nav.side_nav > div.side_nav_list_wrap > ul > li > div.side_nav_one > ul > li{border-bottom: 1px solid #c6c6c6; padding: 15px 0;}
header > nav.side_nav > div.side_nav_list_wrap > ul > li > div.side_nav_one > ul > li > a{position: relative; display: block;}
header > nav.side_nav > div.side_nav_list_wrap > ul > li > div.side_nav_one > ul > li > a::before{position: absolute; content: "\f105"; font-family: fontello; right: 0;}

header div.side_nav_two{position: absolute; opacity: 0; pointer-events: none; width: 260px; height: 100vh;  background-color: #fff; top: 0; right: 0; z-index: 3; box-shadow: 0 0 20px 0 #666; transition: 500ms;}
header div.active_side_nav{opacity: 1; pointer-events: all;}
header div.side_nav_two > h4{margin:0 0 0 10%; height: 80px; display: flex; align-items: center;}
header div.side_nav_two > h4 > a > span{font-family: fontello; margin-right: 10px;}
header div.side_nav_two > ul{margin: 150px auto 0; width: 80%;}
header div.side_nav_two > ul.scroll_nav_brands{height: 600px; overflow-y: scroll;}
header div.side_nav_two > ul.scroll_nav_brands::-webkit-scrollbar{background-color: transparent;  width: 2px;}
header div.side_nav_two > ul.scroll_nav_brands::-webkit-scrollbar-thumb{background-color: #0464b3;}
header div.side_nav_two > ul.scroll_nav_brands::-webkit-scrollbar-track{background-color: #0464b333;}
header div.side_nav_two > ul > li{border-bottom: 1px solid #c6c6c6; padding: 15px 0; margin-right: 10px;}

/* Dark_Filter */
div.dark_filter{position: fixed; width: 100%; height: 100%; background: #000; opacity: 0;z-index: 1; pointer-events: none; transition: 500ms;}
div.active_filter{opacity: 0.4;}

/* Intro */
section.main_intro{display: inline-block;  height: 100vh; width: 100%;}
section.main_intro > button{
    position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 50px;font-family: fontello;
    z-index: 1; border-radius: 50%; border: 1px solid #fff; background: transparent; color: #fff; font-size: 20px;
    outline: none;
}
section.main_intro > button.btn_R{right: 100px;}
section.main_intro > button.btn_L{left: 100px;}
section.main_intro > button.btn_invisivle{opacity: 0; display: none; pointer-events: none;}
section.main_intro > div.intro_wrap{position: absolute; background-position: center; background-repeat: no-repeat; background-size: cover; opacity: 1; display: inline-block; height: 100vh; width: 100%; transition: 500ms;}
section.main_intro > div.content_invisible{opacity: 0; pointer-events: none;}
section.main_intro > div:nth-child(1){background-image: url('../img/main/main.jpg');}
section.main_intro > div:nth-child(2){background-image: url('../img/main/main_2.jpg');}
section.main_intro > div:nth-child(3){background-image: url('../img/main/main_3.jpg');}
section.main_intro > div > div.intro_content{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);  text-align: center; color: #fff;}
section.main_intro > div > div.intro_content > h1{font-size: 38px; animation: intro_start 1s linear forwards 200ms; opacity: 0;}
section.main_intro > div > div.intro_content > p{font-size: 18px; margin: 40px 0 60px; line-height: 25px; animation: intro_start 1s linear forwards 800ms; opacity: 0;}
section.main_intro > div > div.intro_content > a{
    font-size: 16px; color: #fff; outline: none; padding: 20px 45px;
    border: 1px solid #fff; border-radius: 10px; transition: 500ms; animation: intro_start 1s linear forwards 1400ms; opacity: 0;
}
section.main_intro > div:nth-child(3) > div > h1{color: #000;}
section.main_intro > div:nth-child(3) > div >  p{color: #000;}
section.main_intro > div:nth-child(3) > div >  a{color: #000; border: 1px solid #000;}
section.main_intro > div > div.intro_content > a:hover{background-color: #fff; color: #000;}
@keyframes intro_start{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* About */
section.main_about{text-align: center; display: flex; justify-content: center; flex-direction: column; align-items: center;}
section.main_about > h2{font-size: 30px; margin-top: 100px;}
section.main_about > p{font-size: 20px; width: 50%; line-height: 30px; margin: 40px 0 50px;}
section.main_about > img{width: 80px; margin-bottom: 100px;}

/* Work */
section.main_work{width: 100%; display: inline-block; border-top: 1px solid #c6c6c6; border-bottom: 1px solid #c6c6c6; position: relative;}
section.main_work > div{width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; margin: 100px 0;}
section.main_work > div > ul{display: flex; flex-wrap: wrap; justify-content: center; align-items: top;}
section.main_work > div > ul > li{ margin: 0px 10px 20px; width: 280px; opacity: 0;}
section.main_work > div > ul > li:nth-child(1){animation-delay: 0ms;}
section.main_work > div > ul > li:nth-child(2){animation-delay: 100ms;}
section.main_work > div > ul > li:nth-child(3){animation-delay: 200ms;}
section.main_work > div > ul > li:nth-child(4){animation-delay: 300ms;}
section.main_work > div > ul > li > a{overflow: hidden; display: inline-block; height: 280px; width: 280px; position: relative; color: #fff;}
section.main_work > div > ul > li > a > img{ transition: 800ms; position: relative;}
section.main_work > div > ul > li > a:hover > img{transform: scale(1.2);}
section.main_work > div > ul > li > a > span{
    width: 100%; height: 100%; background-color: #0464b360; position: absolute; top: 0; left: 0; display: flex;
    justify-content: center; align-items: center; transition: 500ms; font-size: 20px; font-weight: 400; opacity: 0;
}
section.main_work > div > ul > li > a:hover > span{opacity: 1;}
section.main_work > div > ul > li > h2{font-size: 20px; margin: 20px 0 10px;}
section.main_work > div > ul > li > p{font-size: 16px; line-height: 25px;}
.active_list{animation: list_up 500ms linear forwards;}
@keyframes list_up{
    0%{opacity: 0; padding-top: 20px;}
    100%{opacity: 1; padding-top: 0px;}
}

/* Vid */
section.main_vid{text-align: center; opacity: 0; position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center;}
section.main_vid > h2{font-size: 30px; margin-top: 100px;}
section.main_vid > p{font-size: 20px; line-height: 30px; margin: 40px 0; width: 820px;}
section.main_vid > iframe{width: 80%; height: calc(100vh - 80px); margin-bottom: 115px;}

/* Ment */
section.main_ment{height: 500px; width: 100%; background: #0464b3; color: #fff; position: relative;}
section.main_ment > ul.ment_txt_wrap{position: absolute; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center;}
section.main_ment > ul.ment_txt_wrap > li{text-align: center; opacity: 0; pointer-events: none;  transition: 800ms; position: absolute;  display: flex; justify-content: center; align-items: center; flex-direction: column;}
section.main_ment > ul.ment_txt_wrap > li.active_ment{opacity: 1; pointer-events: all;}
section.main_ment > ul.ment_txt_wrap > li > h2{font-size: 20px; padding-bottom: 50px;}
section.main_ment > ul.ment_txt_wrap > li > p{font-size: 24px;line-height: 36px; width: 600px;}

section.main_ment > ul.list_btn_wrap{position: absolute; left: 50%; transform: translateX(-50%); bottom: 50px;}
section.main_ment > ul.list_btn_wrap > li{float: left; width: 15px; height: 15px; display: inline-block; margin: 0 10px;}
section.main_ment > ul.list_btn_wrap > li > span{width: 10px; height: 10px; background-color: #fff; opacity: 0.5; display: inline-block; border-radius: 50%; cursor: pointer;  transition: 800ms;}
section.main_ment > ul.list_btn_wrap > li.active_btn > span{opacity: 1; width: 15px; height: 15px;}

/* Brand */
section.main_brand{height: 200px;}
section.main_brand > ul{width: 100%; height: 100%; display: flex; justify-content: space-around; align-items: center;}
section.main_brand > ul > li{width: 25%; text-align: center;}
section.main_brand > ul > li > img{width: 80%;}

/* Hire */
section.main_hire{ background: #f5f5f5; display: flex;}
section.main_hire > div {margin: 0 auto; text-align: center;}
section.main_hire > div > h2{font-size: 30px; padding: 100px 0 40px;}
section.main_hire > div > p{font-size: 16px; line-height: 30px;}
section.main_hire > div > form{width: 670px;margin: 40px 0 0;}
section.main_hire > div > form input{border: none; outline: none; height: 47px; padding-left: 10px; font-size: 16px;}
section.main_hire > div > form > div{display: flex; justify-content: space-between;}
section.main_hire > div > form > div > input.hire_name{width: 310px;}
section.main_hire > div > form > div > input.hire_Email{width: 310px;}
section.main_hire > div > form > input.hire_title{width: 660px; margin: 30px 0;}
section.main_hire > div > form > textarea.hire_comment{width: 660px; height: 170px; font-size: 16px; margin-bottom: 30px; resize: none;border: none; outline: none; padding:15px 0 0 10px;}
section.main_hire > div > form > button{background: #0464b3; padding: 23px 35px; border: none; color: #fff; border-radius: 10px; outline: none; margin-bottom: 100px;}

/* Footer */
footer{display: inline-block; background: #141414; color: #fff; width: 100%;}
footer > div{display: flex; flex-direction: column; align-items: center;}
footer > div > ul{margin: 90px 0 0;display: flex; flex-wrap: wrap; justify-content: center; align-items: center;}
footer > div > ul > li{float: left; margin: 0 15px 15px;}
footer > div > ul > li > a{color: #fff;  font-size: 15px;}
footer > div > h3{clear: both; margin: 55px 0; font-size: 20px;}
footer > div > span{margin: 0 0 80px; font-size: 15px;}

/* 스크린의 크기가 최대 1250px  */
@media all and (max-width:1250px){

    /* Header */
    header > a.logo{margin: 0 0 0 50px;}
    header > a.logo > img{ width: 170px; height: auto;}
    header > nav.slide_nav {opacity: 0; display: none; pointer-events: none;}
    header > nav.side_nav{display: inline-block; opacity: 1; pointer-events: all;}
    
    /* Intro */
    section.main_intro > div > div > h1{font-size: 2em; margin-bottom: 50px;}
    section.main_intro > div > div > p{opacity: 0; pointer-events: none; display: none;}

    /* About */
    section.main_about > p{font-size: 1em;}

    /* Work */
    section.main_work > div > ul{flex-basis: 700px;}
    section.main_work > div > ul > li{}

    /* Vid */
    section.main_vid > p{width: 70%;}

    /* Ment */
    section.main_ment > ul.ment_txt_wrap > li > p{font-size: 1em;line-height: 36px; width: 70%;}

    /* Brand */
    section.main_brand{height: 100px;}

    /* Hire */
    section.main_hire > div > p{font-size: 1em;}
}

@media all and (max-width:750px){
    section.main_hire > div > form{width: 100%; }
    section.main_hire > div > form > div{flex-direction: column; align-items: center;}
    section.main_hire > div > form > div > input.hire_name{width: 80%;}
    section.main_hire > div > form > div > input.hire_Email{width: 80%; margin-top: 30px;}
    section.main_hire > div > form > input.hire_title{width: 80%;}
    section.main_hire > div > form > textarea.hire_comment{width: 80%;}
}